.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body{
    font-family: outfit;
    font-size: 18px;
}

card{
    text-align: center;
    width: 500px;
    length: 500px;
    border: black 2px ridge;

}